.Modal {
  height: 600px;
  width: 350px;
  background: url(/filter-background.svg);
  background-position: center;
  position: fixed;
  bottom: 55px;
  right: 0px;
  margin: 16px;
  border-radius: 5px;
  outline: 0;
  z-index: 10;
  -webkit-box-shadow: -10px 10px 7px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: -10px 10px 7px 0px rgba(0,0,0,0.12);
  box-shadow: -10px 10px 7px 0px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  
  @media screen and (max-width: 385px) {
    height: 100vh;
    width: 100vw;
    bottom: unset; 
    right: unset; 
    margin: unset;
    border-radius: 0px;
  }

}

.Icon {
  height: 25px;
  width: 25px;
}

.Title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

.TitleText {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-left: 7px;
}

.ItemContainer{
  width: 275px;
}

.Slider {
  padding-left: 32px;
  display: flex;
}

.SliderValue {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-left: 10px;
}

.SliderValueSmall {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin-left: 10px;
  white-space: nowrap;
}

.SliderTrack {
  background-color: #1B0804;
}

.SliderHandle {
  border-width: 3px;
  border-color: #1B0804;
  background-color: #fff;
  height: 20px;
  width: 20px;
  margin-top: -7px;
}

@mixin Button {
  width: 74px;
  height: 30px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  transition: 0.5s;
}

.SelectedButton {
  @include Button;
  background-color: #1F0A06;
  color: white;
  &:disabled {
    color: #1F0A06;
    background-color: #fff;
    border: 3px solid #1F0A06;
  }
}

.UnselectedButton {
  @include Button;
  color: #1F0A06;
  background-color: #fff;
  border: 3px solid #1F0A06;
}

.RowButton {
  display: flex;
  justify-content: space-around;
  padding-left: 32px;
}

.RowButtonBottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.FilterButton {
  @include Button;
  background-color: #1F0A06;
  color: white;
  height: 40px;
  width: 80px;
  border: 3px solid #1F0A06;

}

.CleanButton {
  @include Button;
  color: #1F0A06;
  background-color: #fff;
  border: 3px solid #1F0A06;
  height: 40px;
  width: 80px;
}