.search {
  position: relative;
  border-radius: 4px;
  background-color: #efefef;
  // '&:hover': {
  //   backgroundColor: fade(theme.palette.common.white, 0.25),
  // },
    // },
  margin-left: 0;
  margin-right: 20px;
  display: flex;
  align-items: center;
  
}

.searchIcon {
  margin-left: 5px;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.inputRoot { 
}

.inputInput {
  background-color: #0f0;
}