.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(/background.svg) center center fixed;
  background-position: center;
  background-color: #1f0a06;
}

.main {
  padding: 0;
  flex: 1;
  display: flex;
}

.GamesContainer {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  padding-top: 4.5em;
  padding-bottom: 1em;
  margin: 0 auto;
  align-self: start;
  justify-content: center;
}

.filterButtonContainer {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.filterSearchContainer {
  position: fixed;
  left: 16px;
  bottom: 16px;
}

.jabaContainer {
  height: 70px;
  display: flex;
  padding: 10px;
  background-color: #29120a;
  border: 2px solid white;
  border-radius: 4px 4px 0px 0px;
  border-bottom: 0;
  cursor: pointer;
}

.jabaText {
  color: #ccc;
}

.jabaTextName {
  text-align: center;
  color: white;
  padding-top: 7px;
  font-weight: bold;
  letter-spacing: 0.095em;
}

.jabaImage {
  margin-left: 15px;
  width: 50px;
  height: 50px;
}

.noGamesFound {
  text-align: center;
  color: white;
  padding-top: 7px;
  font-weight: bold;
  letter-spacing: 0.095em;
  margin-top: 32px;
  max-width: 280px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border-top: 2px solid #e9a522;
  border-right: 2px solid transparent;
  animation: spinner 0.6s linear infinite;
  display: none;
}
